/* stylelint-disable rule-empty-line-before */
// Only variables can be placed here,
// and other files such as themes cannot be introduced,
// otherwise it will affect the packaging speed.

/* theme color */
$color-primary: #549e23;
$color-success: #52c41a;
$color-warning: #faad14;
$color-danger: #fa5555;
$color-info: #909399;

:export {
  colorPrimary: $color-primary;
};
